html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    font-family: 'Roboto-Regular', sans-serif;
    overflow-x: hidden;
    color: #333;
    font-size: 14px;
    background: #fff;
    margin: 0;
}


#header{
    height:auto;
    width:100%;
    background-color:rgb(212, 152, 72);
}

#header1{
    padding:5px;
    height:auto;
    width:80%;
    margin-left: 10%;
    background-color:coral;
}

.search{
	width:100%;
	height:40px;
    margin:5px;
	}
.contain_search{
	width:100%;
	height:100%;
    border:1px soild rgb(19, 17, 17);
	}

.contain_search input{
	width:92%;
	height:100%;
	border:1px soild rgb(19, 17, 17);
	outline:none;
    font-size: 15px;
	}
.contain_search button{
	width: 8%;
	height:100%;
	float:right;
	border:solid 1px rgb(243, 107, 28);
	background-color:rgb(243, 107, 28);
		
	}
.contain_search button a img{
	width:100%;
	height:100%;
	}	

#header2{
    height:40px;
    width:100%;
    background-color:rgb(35, 35, 172);
}

#main_banner{
    width:100%;
    height:300px;
    background-color: aqua;
}
#main_banner img{
    width:100%;
    height:300px;
}

.content{
    height:auto;
    width:80%;
    margin-left:10%;
    background-color:grey;
}

#banner{
    width:100%;
    height:auto;
}

#banner_main{
    height:300px;
    width: 100%;
    background-color:crimson;
}

#banner_thumb{
    height:auto;
    width: 100%;
    background-color:brown;
}


.banner_thumb1{
    height:100px;
    /* width:100%;
    float:left; */
    background-color:blueviolet;
}

.banner_thumb1 img{
    width:100%;
    height:100px;
}


.banner_thumb2 img{
    width:100%;
    height:300px;
}

.spthinhhanh{
    height:auto;
    width:100%;
}

 .title{
    width: 100%;
    height: 50px;
    background-color: rgb(87, 117, 57);
}

.click_previous{
    float:left;
    background-color: blue;
    height: 100%;
    width:5%;
}


.product{
    width:100%;
    height: 250px;
    background-color: rgb(220, 243, 9);
    /* display: grid;
	grid-template-columns:repeat(4,20%);
	grid-template-rows: 100%;
    border: 1px solid #333;
    grid-column-gap:2%; */
}

.item{
    background-color:rgb(123, 194, 194);
    border: 1px soild rgb(0, 0, 0);
}

.click_next{
    float:right;
    background-color: rgb(10, 194, 108);
    height: 100%;
    width:5%;
}


.sanpham{
    width: 100%;
    height:auto;
    background-color: rgb(161, 87, 87);
}


#footer{
    height:300px;
    width:100%;
    background-color:rgb(228, 67, 67);
}

.box{
    box-model: border-box;
    border: 10px solid transparent;
    background-clip:padding-box;
  }

  a