html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: relative;
}

body {
    font-family: 'Roboto-Regular', sans-serif;
    overflow-x: hidden;
    color: #333;
    font-size: 14px;
    background: #fff;
    margin: 0;
}
/*CSS GIAO DIỆN CHÍNH  */

/* CSS HEADER */
    #header{
        margin-top:-115px;  
        height:auto;
        width:100%;
        position:fixed;
        z-index: 4;
    }

    
    #header1{
        padding:5px;
        height:auto;
        width:80%;
        margin-left: 10%;
        background-color:white;
        /* opacity: 0.9; */
        /* background-color: coral; */
    }

    .logo{
        text-align: center;
    }
    .logo img{
        /* margin-top: -20px;
        margin-left:70px; */
        width:150px;
        height:70px;
    }

    .search{
        width:80%;
        height:40px;
        margin:5px;
        margin-left:10%;
	}

    .contain_search{
        width:100%;
        height:100%;
        border:1px soild rgb(19, 17, 17);
        }

    .contain_search input{
        width:92%;
        height:100%;
        border:1px soild rgb(19, 17, 17);
        outline:none;
        font-size: 15px;
	}

    .contain_search button{
        width: 8%;
        height:100%;
        float:right;
        border:solid 1px rgb(243, 107, 28);
        background-color:rgb(243, 107, 28);
            
    }
    .contain_search button a img{
        width:100%;
        height:100%;
    }	

    @media only screen and (min-width: 1100px) {
        .contain_search input{
            width:92%;
            height:100%;
            border:1px soild rgb(19, 17, 17);
            outline:none;
            font-size: 15px;
        }
    
        .contain_search button{
            width: 8%;
            height:100%;
            float:right;
            border:solid 1px rgb(243, 107, 28);
            background-color:rgb(243, 107, 28);
                
        }
        .contain_search button a img{
            width:100%;
            height:100%;
        }	

      }
      @media only screen and (max-width: 801px) {
            .contain_search input{
                width:80%;
                height:100%;
                border:1px soild rgb(19, 17, 17);
                outline:none;
                font-size: 15px;
            }
        
            .contain_search button{
                width: 20%;
                height:100%;
                float:right;
                border:solid 1px rgb(243, 107, 28);
                background-color:rgb(243, 107, 28);
                    
            }
            .contain_search button a img{
                width:100%;
                height:100%;
            }	

    }
    @media only screen and (max-width:500px) {
        .contain_search input{
            width:70%;
            height:100%;
            border:1px soild rgb(19, 17, 17);
            outline:none;
            font-size: 15px;
        }
    
        .contain_search button{
            width: 30%;
            height:100%;
            float:right;
            border:solid 1px rgb(243, 107, 28);
            background-color:rgb(243, 107, 28);
                
        }
        .contain_search button a img{
            width:100%;
            height:100%;
        }	

    }

    .user_menu{
        /* display: inline-block; */
        width: 100px;
        height:50px;
        text-align: left;
    }
    .user_menu ul{
        width: auto;
        height: 50px;
        float:left;
        /* margin-left:-40px; */
    }
    /* .user_menu .giohang{
        width: 50px;
        height: 50px;
        float:left;
    } */
    .user_menu div ul li img{
        width: 30px;
        height: 30px;
    }

    .user_menu div ul li{
        height: 30px;
        width: auto;

        padding: 10px;
        height: auto;
        color: rgb(226, 58, 58);;
        text-align: left;
        display:inline-table;	
        font-family: Arial,Helvetica,sans-serif,sans-serif;
        font-weight: bold;
        font-size: 13px;
        text-transform: uppercase;
        /* position: relative; */
        cursor: pointer;
        box-sizing: border-box;
    }
    .user_menu ul li a{
        text-decoration:none;
    }

    .user_menu ul li a:hover{
        color:#f58f30;
    }

    .dangnhaptk{
        width: 50px;
        height: 50px;
        float:right;
        color:rgb(100, 32, 32);
    }

    #dangxuat{
        color: black;
        /* margin-top:30px; */
        display:inline-table;	
        font-family: Arial,Helvetica,sans-serif,sans-serif;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
    }

    #dangxuat:hover{
        color: rgb(52, 94, 211);
    }

    .user_menu .user img:hover{
        box-shadow:
        0px 0px 2px 2px rgba(0, 0, 0, 0.5),
        0px 0px 2px 2px rgba(255, 255, 255, 0.5) inset; 
    }

    .user_menu .giohang{
        /* margin-top: -10px; */
        width: 100%;
        position: relative;
    }
    
    .user_menu .giohang:hover > .giohang_ct{
        display: block;

    }
    @keyframes move_giohang{
        from{top: 20px;}
        to{top: 35px;}
    }

    .giohang .giohang_ct{
        display:none;
        position: absolute;
        background-color: #f8f6f2;
        z-index: 10;
        border-radius: 5px;
        padding: 10px;
        border: 1.5px solid #000;      
        animation-name: move_giohang;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        width: auto;
        height: auto;
        font-family: Helvetica,sans-serif,sans-serif;
        font-size: 15px;
        font-size: bold;
        /* box-shadow:
        0px 0px 2px 2px rgba(0, 0, 0, 0.5),
        0px 0px 2px 2px rgba(255, 255, 255, 0.5) inset;  */

    }

    .giohang_ct a{
        text-decoration:none;
        color: rgba(19, 51, 46, 0.836);
    }
    .giohang_ct a:hover{
        text-decoration:none;
        color:rgb(231, 124, 37);
    }

    .user_menu .giohang div a img{
        height: 40px;
        width: 40px;
        /* margin-left: 20px; */
    }

    .user_menu .giohang img:hover{
        box-shadow:
        0px 0px 2px 2px rgba(0, 0, 0, 0.5),
        0px 0px 2px 2px rgba(255, 255, 255, 0.5) inset; 
    }

    .user_menu .giohang .sp{
        font-family: Helvetica,Arial,sans-serif,sans-serif;
        /* font-weight: bold; */
        width: 100px;
        font-size: 15px;
    }

    #sosp{
        color: #eb3e63;
    }
    
    #header2{
        height:auto;
        width:100%;
        background-color:rgb(238, 169, 80);
        text-align: center;
        position: relative;
        /* opacity: 0.9; */

    }

    #header2 ul {
        width: 80%;
        margin-left:10%;
        margin-right:10%;
        height: auto;
        text-align: center;
    }
    #header2 ul li{
        background-color: rgb(238, 169, 80);
        padding: 10px;
        height: auto;
        color: rgb(255, 255, 255);;
        text-align: center;
        display:inline-table;	
        font-family: Arial,Helvetica,sans-serif,sans-serif;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        /* position: relative; */
        cursor: pointer;
        box-sizing: border-box;
    }   

    #header2 ul li:hover{
        background-color:#99c4c0;
    }

    #header2 ul li:hover > .menu_list{
        display: block;
    }


/* MENU*/
    .list_show{
        background-color: rgb(242, 242, 243);
        width: 80%;
        margin-left: 10%;
        margin-top:-10px;
        height:auto;
        display: none;
        display:inline-flexbox;
        position:absolute;
        z-index: 19;
    }

    .list_show ul{
        width:100%;
        height:auto;
    }

    .list_show li{
        width:200px;
        height: 300px;
        background-color: #298285;
    }

    .show_list{
        width:300px;
        height: 300px;
        background-color: #298285;
    }

/* TIÊU ĐỀ CỦA TỪNG MENU*/
    .tieudemenu{
        font: bold 20px Arial, Helvetica, sans-serif, sans-serif;
        text-transform: none;
        color: #666;
    }

/*BANNER CHÍNH CỦA GIAO DIỆN*/
    .main_banner{
        margin-top:100px;
        width:100%;
        height:500px;
        /* position: relative; */
    }
    .main_banner img{
        width:100%;
        height:500px;
    }
/* CHỨC NĂNG TRÊN BANNER*/
    .owl-banner{
        position: absolute;
        height: 60px;
        width: 100%;
        margin-top: -280px;
    }

    .owl-next_banner{

        font-weight: bold;
        float:right;
        color: white;
        font-size: 20px;
        padding: 15px;
        cursor: pointer;
        border-radius: 5px 0 0 5px;
        transition: 0.6s ease;

    }

    .owl-previous_banner{
        color: white;
        float:left;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        padding: 15px;
        border-radius: 0 5px 5px 0;
        transition: 0.6s ease;
    }

    .owl-next_banner:hover{
        background-color:rgb(11, 11, 20);
        opacity: 0.7;
        border: 1px solid black;
    }
    .owl-previous_banner:hover{
        background-color:rgb(16, 16, 20);
        opacity: 0.7;
        border: 1px solid black;
    }

    .div_dot{
        /* position: absolute; */
        text-align: center;
        width: 100%;
        height: 20px;
        margin-top: -25px;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: rgb(252, 249, 249);
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        opacity: 0.5;
    }
    
    .active, .dot:hover {
        background-color: #3d3c3c;
        opacity: 1;
    }

/* PHẦN NỘI DUNG*/
    .main{
        margin-top:115px;
    }

    .content{
        /* height:1000px; */
         margin-top:120px;
        height:auto;
        width:80%;
        margin-left:10%;
        /* margin-top:20px; */
    }
/* CÁC BANNER TRONG PHẦN NỘI DUNG*/
    #banner{
        width:100%;
        height:auto;
        /* position: absolute;
        z-index: 5; */
    }

    .banner_main{
        height:300px;
        width: 100%;
        /* background-color:crimson; */
    }
    .banner_main img{
        width: 100%;
        height:300px;
        cursor: pointer;
        /* -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;  */
    }
    

    .banner_main img :hover{
            color: white;
            opacity: 0.5;
        }

    .banner_thumb{
        height:auto;
        width: 100%;
        background-color:brown;
        grid-row-gap: 100px;

    }


    .banner_thumb1{
        height:100px;
        background-color:blueviolet;
    }

    .banner_thumb1 img{
        width:100%;
        height:100px;
    }


    .banner_thumb2 img{
        width:100%;
        height:300px;
    }

    .product_frame{
        height:auto;
        width:100%;
        margin-top:20px;
    }

    .title{
        width: 100%;
        margin-top:10px;
        background-color: rgb(248, 91, 0);
    }

    .title ul {
        width: 80%;
        margin-left:10%;
        margin-right:10%;
        height: auto;
        text-align: center;
    }
    .title ul li{
        background-color: rgb(248, 91, 0);
        padding: 10px;
        height: auto;
        color: rgb(255, 254, 254);
        text-align: center;
        display:inline-table;	
        font-family: Arial,Helvetica,sans-serif,sans-serif;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;
        box-sizing: border-box;
    }   

    .title ul li:hover{
        background-color:#99c4c0;
        color: rgb(255, 255, 255);
    }
    
    .product_title{
        font: 13px Arial, Helvetica, sans-serif, sans-serif;
        font-weight: bold;
        text-align: left;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }

/*  BOOTSTRAP CHO SỐ SẢN PHẨM HIỆN THỊ THEO CHIỀU RỘNG MÀN HÌNH*/
    @media screen and (max-width: 600px){
        .product{
            grid-template-columns:repeat(2,50%);
            grid-template-rows: 250px;
        }
    }

    @media screen and (max-width: 800px) and (min-width: 600px){
        .product{
            grid-template-columns:repeat(3,33.333333%);
            grid-template-rows: 250px;
        }
    }

    @media screen and (min-width: 801px) and ( max-width: 1224px){
        .product{
            grid-template-columns:repeat(4,25%);
            grid-template-rows: 250px;
        }
    }

    @media screen and (min-width: 1225px){
        .product{
            grid-template-columns:repeat(5,20%);
            grid-template-rows: 250px;
        }
    }

/*  ĐỊNH DẠNG DIV HIỂN THỊ TRÊN GIAO DIỆN*/
    .product{
        overflow:hidden;
        width:96%;
        height:270px;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 15px;
        display: grid;
        row-gap: 30px;
        /* box-shadow:
        0px 0px 4px 4px rgba(0, 0, 0, 0.5),
        0px 0px 4px 4px rgba(255, 255, 255, 0.5) inset; */
        /* border:#333 1px solid; */
        z-index:0;
    }

    .item{
        cursor: pointer;
    }


.item .img_div{
        width:70%;
        height:200px;
        margin-left:15%;
        box-shadow:
        1px 1px 1px 1px rgba(0, 0, 0, 0.5),
        1px 1px 1px 1px rgba(255, 255, 255, 0.5) inset; 
        
    }

    @keyframes abc {
        0% {top: 0px;}
        100%{top: -2px;}
    }
    .item .img_div :hover{
        animation-name:abc;
        animation-duration:0.3s;
        transition: unset;
        box-shadow:
        0px 0px 3px 3px rgba(0, 0, 0, 0.5),
        0px 0px 3px 3px rgba(255, 255, 255, 0.5) inset;
        position: relative;
        animation-fill-mode: both;

    }

    .item .info_div{
        width:90%;
        height:70px;
        margin-left:5%;
        /* background-color:rgb(184, 76, 76); */
        /* border:#333 1px solid; */
        
    }

    .name_book{
        width: 100%;
        height: 35px ;
        font: 13px Arial, Helvetica, sans-serif, sans-serif;
        font-weight: bold;
        padding-top: 10px;
        /* text-align:left; */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 5px;
        margin-right: 5px;
        
    }

    .name_book a{
        text-decoration:none;
        list-style:none;
        color:rgb(12, 12, 12);	
        opacity: 0.8;
    }

    .name_book a:hover{
        color:rgb(207, 54, 54);	

    }

    .price_book{
        margin-left: 5px;
        margin-right: 5px;
        width: 100%;
        height: 35px ;
        font: 15px Arial, Helvetica, sans-serif, sans-serif;
        font-weight: bold;
        /* text-align:left; */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color:red;
        margin-bottom:0px;
    }


    .item .img_div img{
        width:100%;
        height: 100%;
    }


    .owl-buttons{
        position: absolute;
        height: 30px;
        width: 80%;
        margin-top: -180px;
    }

    .owl-next{
        border: 1px solid rgb(97, 97, 104);
        border-radius: 5px;
        background-color:rgb(97, 97, 104);
        float:right;
        margin-right: 10px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        opacity: 0.5;
        font-size: 20px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        transition: 0.4s ease;

    }

    .owl-previous{
        border: 1px solid rgb(97, 97, 104);
        border-radius: 5px;
        background-color:rgb(97, 97, 104);
        float:left;
        margin-left: 10px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        opacity: 0.5;
        font-size: 20px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        transition: 0.4s ease;
        -webkit-animation-name: example; 
        -webkit-animation-duration: 4s; 
        animation-name: none;
        animation-duration: 1s;
    }

    .owl-next:hover{
        background-color:rgb(7, 7, 8);
        border: 1px rgb(20, 20, 26);
        opacity: 0.7;
    }
    .owl-previous:hover{
        background-color:rgb(7, 7, 8);
        border: 1px rgb(20, 20, 26);
        opacity: 0.7;
    }

    @keyframes example {
        0% { left:0px;}
    /* 25% {background-color:lightsalmon; left:200px; top:0px;}
    50% {background-color:seagreen; left:200px; top:200px;}
    75% {background-color:midnightblue; left:0px; top:200px;} */
    100% {left:150px;}
    }



    /* .sanpham{
        width: 100%;
        height:auto;
        background-color: rgb(161, 87, 87);
    } */

/* PHẦN TÌM KIẾM */
#main_search{
    margin-top:115px;
    display: none;
}

.content_search{
    margin-top:115px;
    height:auto;
    width:80%;
    margin-left:10%;
    padding: 10px;
    box-shadow:
    0px 0px 2px 2px rgba(0, 0, 0, 0.5),
    0px 0px 2px 2px rgba(255, 255, 255, 0.5) inset;
}
.title_search{
    text-align:center;
    color: #666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
}

.search_filter{
    height: 1000px;
}


.content_filter{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.timtheo{
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: all 0.5s ease;
    border: none;
    font-family: Arial,Helvetica,sans-serif,sans-serif;
    font-size: 15px;
    color:rgb(105, 101, 101);
    font-weight: bold;
}

.timtheo:hover{
    color: rgb(165, 96, 131);
    
}

.timtheo .timtheogia{
    float:left;
}

.timtheo .muiten_timkiem{
    float:right;
}

#timtheogia_input{
    margin-top: 20px;
    width:auto;
    display: inline-flex;
}

#timtheogia_input input{
    width: 30%;
	padding: 2px;
	font-size: 16px;
	text-align: center;
	outline: none;
	border: 1px solid rgb(151, 146, 146);
    font-family: Arial,Helvetica,sans-serif,sans-serif;
    font-size: 15px;
    color:#333;
}

#giatu{
    float:left;
    margin-right: 10px;
}

#giaden{
    float:right;
    margin-left: 10px;
}

.timtheo_input{
    width:100%;
    height:auto;
}
.timtheo_input input{
    width:90%;
    margin-left:5%;
    height:25px;
    padding: 4px;
	text-align: left;
	outline: none;
	border: 1px solid rgb(151, 146, 146);
    font-family: Arial,Helvetica,sans-serif,sans-serif;
    font-size: 16px;
    color:rgb(116, 109, 109);
    
}

.detail_filter{
    width:100%;
    height: 200px;
    overflow:auto;
    display:block;
}

.detail_filter li{
	outline: none;
    display:block;
    font-family: Arial,Helvetica,sans-serif,sans-serif;
    font-size: 16px;
    color:rgb(116, 109, 109);
}

.detail_filter li input{
    margin-left: 10px;
}

.search_product{
    height: auto;
}

.product_item{
	width:100%;
	height:auto;
	display: grid;
	grid-template-columns:repeat(4,24%);
	grid-template-rows: repeat(5,1fr);
    gap:10px;
    
	}

.item_search{
    transition: all 0.2s ease;
    cursor: pointer;
    border:0.1px rgb(228, 225, 225) solid;
    
}
.item_search:hover{
    box-shadow:
    0px 0px 2px 2px rgba(0, 0, 0, 0.5),
    0px 0px 2px 2px rgba(255, 255, 255, 0.5) inset; 
    
}

.chonngonngu{
    width:100%;
    height:auto;
    font-family: Arial,Helvetica,sans-serif,sans-serif;
    font-size: 16px;
    color:rgb(116, 109, 109);
    padding: 4px;
}

.chonngonngu option{
    font-family: Arial,Helvetica,sans-serif,sans-serif;
    font-size: 16px;
    color:rgb(116, 109, 109);
    padding: 4px;
}

.top_item{
    width:100%;
    height: 170px;
}
.top_item img{
    width:100%;
    height: 170px;
}
.bot_item{
    width:100%;
    height: 80px;
}

.name_book_search{
    width: 100%;
    height: 35px ;
    font: 13px Arial, Helvetica, sans-serif, sans-serif;
    font-weight: bold;
    padding-top: 10px;
    /* text-align:left; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 5px;
    margin-right: 5px;
    
}

.name_book_search a{
    text-decoration:none;
    list-style:none;
    color:rgb(12, 12, 12);	
    opacity: 0.8;
}

.name_book_search a:hover{
    color:rgb(207, 54, 54);	

}

.price_book_search{
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    height: 35px ;
    font: 15px Arial, Helvetica, sans-serif, sans-serif;
    font-weight: bold;
    /* text-align:left; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:red;
    margin-bottom:0px;
}

.div_themvaogio{
    width:100%;
    text-align:center;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    font-weight: bold;
    background-color: rgb(213, 165, 228);
    padding: 2px 1px 2px;
    opacity:0.9;
    margin-top:-10px;
    padding:2px;
    
}

.div_themvaogio:hover{
    opacity:1;
    background-color:#ec8a39;
}

#page{
	margin-top: 10px;
	width: 100%;
	height: auto;
	display:inline-table;
	text-align:center;
	background-color:none;
	}

#page div{
	outline: none;
	cursor: default;
	font-size: 14px;
	border: solid 1px;
	margin-right: 4px;
	width:25px;
	height:25px;
    padding: 5px 5px 5px 5px;
	text-align:center;
	background-color:white;
    border-radius: 3px;
	display:inline-table;
	}

#page button{
	outline: none;
	cursor: default;
	font-size: 14px;
	border: solid 1px;
	border-radius: 3px;
	margin-right: 5px;
	width:25px;
	height:25px;
	text-align:center;
	background-color:white;
	display:inline-table;
	}

#page button:hover{
    color: white;
    background-color:darkorange;
}

#page div:hover{
	color: white;
	background-color:darkorange;
}


/* PHẦN THÔNG TIN PAGE*/
    #footer{
        height:300px;
        width:100%;
        background-color:rgb(228, 67, 67);
        position:absolute;
        z-index:100;
    }




/* PHẦN GIỎ HÀNG */
  
#content_giohang{
    width: 80%;
    margin-left:10%;
    height:auto;
    border: solid 1px rgb(218, 211, 211);
    padding:20px;
    display:block;
}

#content_giohang .cart{
    margin-top:20px;
}

.thuoctinhgiohang{
    width: 100%;
    height:auto;
}

.giohang1{
    margin-left:-5px;
    float:right;
    color:#6a79a1;
    width: 100%; 
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    font-weight: bold;
}

.giohang2{
   width: 100%;
   /* border: solid 1px rgb(105, 101, 101); */
   font-family: Arial,Helvetica,sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   font-weight: bold;
}

#xoagiohang{
    cursor:pointer;
}
#xoagiohang:hover{
    color:rgb(209, 108, 108);
}

.giohang3{
    width: 100%;
    height: 30px;
    /* border: solid 1px rgb(105, 101, 101); */
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    font-weight: bold;
}

.giohang3 input{
    width: 120%;
    height: 30px;
}

.close_sp{
    width: 100%;
   /* border: solid 1px rgb(105, 101, 101); */
   font-family: Arial,Helvetica,sans-serif;
   color:rgb(151, 143, 143);
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   font-weight: bold;
   margin-top:170px;
   text-align:right;
   cursor:pointer;
}
 .close_sp:hover{
    color:rgb(212, 89, 89);
 }
.soluong{
    /* height: 30px; */
    width: 100%;
}

.soluong div{
    /* border:solid 1px rgb(119, 116, 116); */
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    font-weight: bold;
}

.img_giohang{
    width: 100%;
    height: auto;
    border: solid 1px rgb(134, 131, 131);
    padding:5px;
}

.img_giohang img{
    width: 100%;
    height: 200px;
}

.ten_giohang{
    width: 80%;
    margin-left:10%;
    /* background-color:rgb(184, 83, 83); */
    /* border: solid 1px rgb(66, 64, 64); */
    font: bold 18px Arial, Helvetica, sans-serif, sans-serif;
    color: #d49747;
    text-align: left;
    /* padding:5px; */
}

.soluong{
    /* border: solid 1px rgb(105, 101, 101); */
    padding: 5px;
}

.ttmh{
    background-color:rgb(74, 171, 216);
    border: solid 1px rgb(74, 171, 216);
    padding: 5px;
    color: aliceblue;
    font: bold 13px Arial, Helvetica, sans-serif, sans-serif;
}

.ttmh:hover{
    background-color:rgb(241, 137, 68);
    border: solid 1px rgb(241, 137, 68);
    color: aliceblue;
}

.tt{
    background-color:rgb(238, 91, 152);
    border: solid 1px rgb(238, 91, 152);
    padding: 5px;
    color: aliceblue;
    font: bold 13px Arial, Helvetica, sans-serif, sans-serif;
}

.tt:hover{
    background-color:rgb(241, 137, 68);
    border: solid 1px rgb(241, 137, 68);
    color: aliceblue;
}

/* LỊCH SỬ ĐƠN HÀNG */
#content_lsdonhang{
    margin-top:115px;
    margin-bottom:50px;
    display: none;

}

#content_lsdonhang .ls_content{
    margin-top:50px;
    width: 80%;
    margin-left:10%;
    height:auto;
    border: solid 1px rgb(218, 211, 211);
    padding:20px;
    display:block;
}

.thuoctinhlsdonhang{
    width: 100%;
    height:auto;
}

.thuoctinhlsdonhang_sp{
    overflow:auto;
    scrollbar-base-color: #ff0000;
    width: 100%;
    max-height:200px;
}

.img_donhang{
    width: 100%;
    height: auto;
    /* padding:5px; */
}

.img_donhang img{
    width: 100%;
    height: 100px;
}

.lsdonhang1{
    text-align: center;
    color:#6a79a1;
    width: 100%; 
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}  

.lsdonhang2{
    text-align: center;
    color:#5f6266;
    width: 100%; 
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    font-weight: bold;
}  

.lsdonhang1 img{
    height:30px;
    width:40px;
}

.bin img{
  cursor:pointer;
}

/* .bin img:hover{
    box-shadow:
    0px 0px 2px 2px rgba(0, 0, 0, 0.5),
    0px 0px 2px 2px rgba(255, 255, 255, 0.5) inset; 
} */

.ttlsgh{
    color: rgb(78, 84, 90);
    font: bold 15px Arial, Helvetica, sans-serif, sans-serif;
}

#timtheongay{
    margin-top: 20px;
    width:auto;
    display: inline-flex;
}

#timtheongay input{
    width: 40%;
	padding: 4px;
	font-size: 16px;
	text-align: center;
	outline: none;
	border: 1px solid rgb(151, 146, 146);
    font-family: Arial,Helvetica,sans-serif,sans-serif;
    font-size: 15px;
    color:#333;
}

#ngaytu{
    float:left;
    margin-right: 10px;
}

#ngayden{
    float:right;
    margin-left: 10px;
}


/* FOOTER */
#footer{
	width:100%;
	height:260px;
	background-image: linear-gradient(to top, #b1a9bb 0%, #d8e2ec 100%);
	}
.footer_img{
	float:left;
	height:230px;
	width:20%;
	}
.footer_img img{
	padding-top:30px;
	height:150px;
	width:auto;
	float:right;
	}
.menu_footer{
	color:#900;
	margin-top:30px;
	float:left;
	width:16%;
	margin-left:4%;
	height:200px;	
	font-size:20px;
	font-weight:bold;
	font-family:"MS Serif", "New York", serif;
	}
.menu_footer a:hover{
	color:#39C;	
	font-style: italic;
	text-decoration:underline;
	font-size:24px;
	cursor: pointer;
	}
.menu_footer ul{
	padding-top:20px;
	}
.menu_footer ul li{
	color:whiteSmoke;
	list-style:none;
	padding-top:7px;
	font-size:18px;
	font-weight:normal;
	}
.menu_footer ul li a{
	text-decoration:none;
	list-style:none;
	color:whiteSmoke;	
	}
.menu_footer ul li a img{
	height:40px;
	width:auto;
	vertical-align:middle;
	padding-right:10px;
	opacity: 1; -webkit-transition: all 0.7s ease; transition: all 0.7s ease;
	}
.menu_footer ul li a img:hover{
	-webkit-transform: translate(0,-10px); transform: translate(0,-10px); opacity: 0.4;
	}

