html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    font-family: 'Roboto-Regular', sans-serif;
    overflow-x: hidden;
    color: #333;
    font-size: 14px;
    background: #fff;
    margin: 0;
}
/*CSS GIAO DIỆN CHÍNH  */

/* CSS HEADER */
    #header{
        margin-top:-115px;  
        height:auto;
        width:100%;
        position:fixed;
        z-index: 30;
    }

    
    #header1{
        padding:5px;
        height:auto;
        width:80%;
        margin-left: 10%;
        background-color:white;
        /* opacity: 0.9; */
        /* background-color: coral; */
    }

    .logo img{
        margin-top: -20px;
        margin-left:70px;
        width:150px;
        height:70px;
    }

    .search{
	width:80%;
	height:40px;
    margin:5px;
    margin-left:10%;
	}

    .contain_search{
        width:100%;
        height:100%;
        border:1px soild rgb(19, 17, 17);
        }

    .contain_search input{
        width:92%;
        height:100%;
        border:1px soild rgb(19, 17, 17);
        outline:none;
        font-size: 15px;
	}

    .contain_search button{
        width: 8%;
        height:100%;
        float:right;
        border:solid 1px rgb(243, 107, 28);
        background-color:rgb(243, 107, 28);
            
    }
    .contain_search button a img{
        width:100%;
        height:100%;
    }	

    .user_menu{
        display: inline-block;
        width: 100px;
        height:50px;
        /* float: left; */
    }
    .user_menu .user{
        width: 50px;
        height: 50px;
        float:left;
    }
    .user_menu .giohang{
        width: 50px;
        height: 50px;
        float:left;
    }
    .user_menu .user img{
        width: 100%;
        height: 50px;
    }
    .user_menu .giohang img{
        width: 100%;
        height: 50px;
    }

    #header2{
        height:auto;
        width:100%;
        background-color:rgb(238, 169, 80);
        text-align: center;
        position: relative;
        /* opacity: 0.9; */
        margin-top: -15px;

    }

    #header2 ul {
        width: 80%;
        margin-left:10%;
        margin-right:10%;
        height: auto;
        text-align: center;
    }
    #header2 ul li{
        background-color: rgb(238, 169, 80);
        padding: 10px;
        height: auto;
        color: rgb(255, 255, 255);;
        text-align: center;
        display:inline-table;	
        font-family: Arial,Helvetica,sans-serif,sans-serif;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        /* position: relative; */
        cursor: pointer;
        box-sizing: border-box;
    }   

    #header2 ul li:hover{
        background-color:#99c4c0;
        color: rgb(255, 255, 255);
    }

    #header2 ul li:hover > .menu_list{
        display: block;
    }

/* MENU*/
    .list_show{
        background-color: rgb(242, 242, 243);
        width: 80%;
        margin-left: 10%;
        margin-top:-10px;
        height:auto;
        display: none;
        display:inline-flexbox;
        position:absolute;
        z-index: 19;
    }

    .list_show ul{
        width:100%;
        height:auto;
    }

    .list_show li{
        width:200px;
        height: 300px;
        background-color: #298285;
    }

    .show_list{
        width:300px;
        height: 300px;
        background-color: #298285;
    }

/* TIÊU ĐỀ CỦA TỪNG MENU*/
    .tieudemenu{
        font: bold 20px Arial, Helvetica, sans-serif, sans-serif;
        text-transform: none;
        color: #666;
    }

/*BANNER CHÍNH CỦA GIAO DIỆN*/
    .main_banner{
        width:100%;
        height:500px;
        position: relative;
    }
    .main_banner img{
        width:100%;
        height:500px;
    }
/* CHỨC NĂNG TRÊN BANNER*/
    .owl-banner{
        position: absolute;
        height: 60px;
        width: 100%;
        margin-top: -280px;
    }

    .owl-next_banner{

        font-weight: bold;
        float:right;
        color: white;
        font-size: 20px;
        padding: 15px;
        cursor: pointer;
        border-radius: 5px 0 0 5px;
        transition: 0.6s ease;

    }

    .owl-previous_banner{
        color: white;
        float:left;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        padding: 15px;
        border-radius: 0 5px 5px 0;
        transition: 0.6s ease;
    }

    .owl-next_banner:hover{
        background-color:rgb(11, 11, 20);
        opacity: 0.7;
        border: 1px solid black;
    }
    .owl-previous_banner:hover{
        background-color:rgb(16, 16, 20);
        opacity: 0.7;
        border: 1px solid black;
    }

    .div_dot{
        /* position: absolute; */
        text-align: center;
        width: 100%;
        height: 20px;
        margin-top: -25px;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: rgb(252, 249, 249);
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        opacity: 0.5;
    }
    
    .active, .dot:hover {
        background-color: #3d3c3c;
        opacity: 1;
    }

/* PHẦN NỘI DUNG*/
    .main{
        margin-top:115px;
    }

    .content{
        /* height:1000px; */
         margin-top:100px;
        height:auto;
        width:80%;
        margin-left:10%;
        /* margin-top:20px; */
    }
/* CÁC BANNER TRONG PHẦN NỘI DUNG*/
    #banner{
        width:100%;
        height:auto;
        /* position: absolute;
        z-index: 5; */
    }

    .banner_main{
        height:300px;
        width: 100%;
        /* background-color:crimson; */
    }
    .banner_main img{
        width: 100%;
        height:300px;
        cursor: pointer;
        /* -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;  */
    }
    

    .banner_main img :hover{
            color: white;
            opacity: 0.5;
        }

    .banner_thumb{
        height:auto;
        width: 100%;
        background-color:brown;
        grid-row-gap: 100px;

    }


    .banner_thumb1{
        height:100px;
        background-color:blueviolet;
    }

    .banner_thumb1 img{
        width:100%;
        height:100px;
    }


    .banner_thumb2 img{
        width:100%;
        height:300px;
    }

    .product_frame{
        height:auto;
        width:100%;
        margin-top:20px;
    }

    .title{
        width: 100%;
        margin-top:10px;
        background-color: rgb(233, 135, 43);
    }

    .title ul {
        width: 80%;
        margin-left:10%;
        margin-right:10%;
        height: auto;
        text-align: center;
    }
    .title ul li{
        background-color: rgb(233, 135, 43);
        padding: 10px;
        height: auto;
        color: rgb(255, 254, 254);
        text-align: center;
        display:inline-table;	
        font-family: Arial,Helvetica,sans-serif,sans-serif;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;
        box-sizing: border-box;
    }   

    .title ul li:hover{
        background-color:#99c4c0;
        color: rgb(255, 255, 255);
    }
    
    .product_title{
        font: 13px Arial, Helvetica, sans-serif, sans-serif;
        font-weight: bold;
        text-align: left;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }

/*  BOOTSTRAP CHO SỐ SẢN PHẨM HIỆN THỊ THEO CHIỀU RỘNG MÀN HÌNH*/
    @media screen and (max-width: 600px){
        .product{
            grid-template-columns:repeat(2,50%);
            grid-template-rows: 250px;
        }
    }

    @media screen and (max-width: 800px) and (min-width: 600px){
        .product{
            grid-template-columns:repeat(3,33.333333%);
            grid-template-rows: 250px;
        }
    }

    @media screen and (min-width: 801px) and ( max-width: 1224px){
        .product{
            grid-template-columns:repeat(4,25%);
            grid-template-rows: 250px;
        }
    }

    @media screen and (min-width: 1225px){
        .product{
            grid-template-columns:repeat(5,20%);
            grid-template-rows: 250px;
        }
    }

/*  ĐỊNH DẠNG DIV HIỂN THỊ TRÊN GIAO DIỆN*/
    .product{
        overflow:hidden;
        width:96%;
        height:270px;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 10px;
        display: grid;
        row-gap: 30px;
        /* box-shadow:
        0px 0px 4px 4px rgba(0, 0, 0, 0.5),
        0px 0px 4px 4px rgba(255, 255, 255, 0.5) inset; */
        /* border:#333 1px solid; */
        z-index:0;
    }

    .item{
        cursor: pointer;
    }

    .item .img_div{
        width:70%;
        height:200px;
        margin-left:15%;
        box-shadow:
        0px 0px 2px 2px rgba(0, 0, 0, 0.5),
        0px 0px 2px 2px rgba(255, 255, 255, 0.5) inset; 
        /* background-color: aqua; */
        /* border:#333 1px solid; */
        
    }

    .item .info_div{
        width:90%;
        height:70px;
        margin-left:5%;
        /* background-color:rgb(184, 76, 76); */
        /* border:#333 1px solid; */
        
    }

    .name_book{
        width: 100%;
        height: 35px ;
        font: 13px Arial, Helvetica, sans-serif, sans-serif;
        font-weight: bold;
        padding-top: 10px;
        /* text-align:left; */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 5px;
        margin-right: 5px;
        
    }

    .name_book a{
        text-decoration:none;
        list-style:none;
        color:rgb(12, 12, 12);	
        opacity: 0.8;
    }

    .name_book a:hover{
        color:rgb(207, 54, 54);	

    }

    .price_book{
        margin-left: 5px;
        margin-right: 5px;
        width: 100%;
        height: 35px ;
        font: 15px Arial, Helvetica, sans-serif, sans-serif;
        font-weight: bold;
        /* text-align:left; */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color:red;
        margin-bottom:0px;
    }


    .item .img_div img{
        width:100%;
        height: 100%;
    }


    .owl-buttons{
        position: absolute;
        height: 30px;
        width: 80%;
        margin-top: -180px;
    }

    .owl-next{
        border: 1px solid rgb(97, 97, 104);
        border-radius: 5px;
        background-color:rgb(97, 97, 104);
        float:right;
        margin-right: 10px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        opacity: 0.5;
        font-size: 20px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        transition: 0.4s ease;

    }

    .owl-previous{
        border: 1px solid rgb(97, 97, 104);
        border-radius: 5px;
        background-color:rgb(97, 97, 104);
        float:left;
        margin-left: 10px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        opacity: 0.5;
        font-size: 20px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        transition: 0.4s ease;
        -webkit-animation-name: example; 
        -webkit-animation-duration: 4s; 
        animation-name: none;
        animation-duration: 1s;
    }

    .owl-next:hover{
        background-color:rgb(7, 7, 8);
        border: 1px rgb(20, 20, 26);
        opacity: 0.7;
    }
    .owl-previous:hover{
        background-color:rgb(7, 7, 8);
        border: 1px rgb(20, 20, 26);
        opacity: 0.7;
    }

    @keyframes example {
        0% { left:0px;}
    /* 25% {background-color:lightsalmon; left:200px; top:0px;}
    50% {background-color:seagreen; left:200px; top:200px;}
    75% {background-color:midnightblue; left:0px; top:200px;} */
    100% {left:150px;}
    }



    /* .sanpham{
        width: 100%;
        height:auto;
        background-color: rgb(161, 87, 87);
    } */

/* PHẦN TÌM KIẾM */
.title_search{
    text-align:center;
    color: #666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
}

.search_filter{
    height: 1000px;
}

.name_filter{
    text-align:center;
    color: #666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    height: 100px;
}

.content_filter{

}

.search_product{
    background-color: rgb(43, 172, 26);
    height: auto;
}

.product_item{
	background-color: #b49c30;
	width:100%;
	height:auto;
	display: grid;
	grid-template-columns:repeat(4,24%);
	grid-template-rows: repeat(5,1fr);
    gap:10px;
	}

.item_search{
    cursor: pointer;
    border:1px #333 solid;
}

.top_item{
    width:100%;
    height: 170px;
    background-color: rgb(11, 184, 98);
}
.bot_item{
    width:100%;
    height: 80px;
}

.div_themvaogio{
    width:100%;
    text-align:center;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    font-weight: bold;
    background-color: rgb(213, 165, 228);
    padding: 2px 1px 2px;
    opacity:0.9;
    margin-top:-10px;
    padding:2px;
}

.div_themvaogio:hover{
    opacity:1;
    background-color:#ec8a39;
}

/* PHẦN THÔNG TIN PAGE*/
    #footer{
        height:300px;
        width:100%;
        background-color:rgb(228, 67, 67);
        position:absolute;
        z-index:100;
    }




